@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');


/*----------base----------*/
$nightBlue: #252850;
$nightBlueGra: #3d4284;
$nightBgBlue: #CED5E2;
$dayBlue: #76D5FC;
$dayBlueGra: #c1ecfe;
$daybgOrange: #FEF5F1;

*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  content: "";
  position: absolute;
}

html {
  font-family: 'Barlow', sans-serif;
}

html {
  background-color: $daybgOrange;
  transition: background-color 2s ease-out;
}

p {
  margin-bottom: 5%;
}

.main-bg {
  background-color: $nightBgBlue;
}

.box-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-box {
  width: 450px;
  height: 450px;
  position: relative;
}

.circle-box {
  width: 450px;
  height: 300px;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  overflow: hidden;
  z-index: 100;
}


/*---------design for sky and mountains----------*/

.sky {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient($dayBlue, $dayBlueGra);
  overflow: hidden;
  z-index: 1;
}

.sky-night {
  width: 100%;
  height: 100%;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient($nightBlue, #3d4284);
  overflow: hidden;
  opacity: 0;
  transition: opacity 2s ease-out;
}

.sky-night-fade {
  opacity: 1;
}

.sun-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  margin: auto;
}

.sun {
  position: absolute;
  width: 80px;
  height: 80px;
  margin: -20px 0 0 10px;
  border-radius: 50%;
  background: linear-gradient(#fefefe, #fffbe8);
  cursor: pointer;
  z-index: 10;
}


.mountains {
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: white;
}

.mountains div,
.mountains div:after,
.mountains div:before {
  border-radius: 50%;
  position: absolute;
  z-index: 200;
}

.mountain-front,
.mountain-front * {
  background: #abb59a;
}

.mountain-front {
  width: 250px;
  height: 150px;
  top: 190px;
  right: 0;
  margin-right: -35px;
}

.mountain-front1 {
  position: absolute;
  width: 240px;
  height: 100px;
  top: 70px;
  right: 0;
  margin-right: 140px;
}

.mountain-back,
.mountain-back * {
  background: #55606d;
  opacity: .9;
}

.mountain-back {
  width: 250px;
  height: 150px;
  top: 190px;
  left: 0;
  margin-left: -35px;
}

.mountain-back1 {
  position: absolute;
  width: 240px;
  height: 200px;
  top: 25px;
  left: 0;
  margin-left: 140px;
}

.mountain-visible {
  opacity: 1;
}

/*-------------tree-------------*/
$gradient-angel: 70deg;
$size: 200px;
$leaf-color: #014c16;
$trunk-color: #332801;

.trees div{
  z-index: 400;
}

.trees {
  position: absolute;
  left: 50%;
  right: 0;
  top: 15%;
  bottom: 0;
  width: 150px;
  height: 200px;
  margin: auto;
}

.tree {
  margin-right: 200px;
	width: $size;
	height: $size;
	position: absolute;
  overflow: hidden;
	border-radius: 50%;
	background-image:
		// top
		linear-gradient($gradient-angel, darken($leaf-color, 0%) 8%, transparent 8.5%),
		linear-gradient(-$gradient-angel, darken($leaf-color,0%) 8%, transparent 8.5%),
		// middle
		linear-gradient($gradient-angel, darken($leaf-color,3%) 10%, transparent 10.5%),
		linear-gradient(-$gradient-angel, darken($leaf-color,3%) 10%, transparent 10.5%),
		// bottom
		linear-gradient($gradient-angel, darken($leaf-color,6%) 12%, transparent 12.5%),
		linear-gradient(-$gradient-angel, darken($leaf-color,6%) 12%, transparent 12.5%),
		// trunk
		linear-gradient(80deg, darken($trunk-color,0%) 5%,  transparent 5.5%),
		linear-gradient(-80deg, darken($trunk-color,0%) 5%, transparent 5.5%);
	background-position:
		// leaves-top
		$size/2 $size/2.5, $size/2 $size/2.5,
		// leaves-middle
		$size/2 $size/1.8, $size/2 $size/1.8,
		// leaves-bottom
		$size/2 $size/1.4, $size/2 $size/1.4,
		// trunk
		$size/2 $size/1.25, $size/2 $size/1.25;
  }

  /*-----------stars-----------*/
  .stars *,
  .stars *:before,
  .stars *:after {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    z-index: 400;
    animation-iteration-count: infinite;
  }

  .star-1 {
  width: 5px;
  height: 5px;
  left: 300px;
  top: 90px;
}

  .star-1:before {
  width: 4px;
  height: 4px;
  left: 80px;
  top: 10px;
  opacity: 0.8;
  animation-duration: 1s;
  animation-name: twinkle1;
}

.star-1:after {
  width: 3px;
  height: 3px;
  left: -35px;
  top: 50px;
  opacity: 1;
  animation-duration: 1s;
  animation-name: twinkle2;
}


.star-2 {
  width: 5px;
  height: 5px;
  left: 78px;
  top: 140px;

}

.star-2:before {
  width: 4px;
  height: 4px;
  left: 40px;
  top: 14px;
  opacity: 0.8;
  animation-duration: 3s;
  animation-name: twinkle1;
}

.star-2:after {
  width: 3px;
  height: 3px;
  left: 30px;
  top: -40px;
  opacity: 1;
  animation-duration: 3s;
  animation-name: twinkle2;
}



.star-3 {
  width: 5px;
  height: 5px;
  left: 155px;
  top: 90px;

}

.star-3:before {
  width: 4px;
  height: 4px;
  left: 50px;
  top: 45px;
  opacity: 0.8;
  animation-duration: 2s;
  animation-name: twinkle1;
}

.star-3:after {
  width: 3px;
  height: 3px;
  left: 90px;
  top: -20px;
  opacity: 1;
  animation-duration: 2s;
  animation-name: twinkle2;
}


@keyframes twinkle1 {
  20% {
    opacity: 0.5;
  }
}

@keyframes twinkle2 {
  80% {
    opacity: 0.5;
    transform: scale(.1);
  }
}

.shooting-star {
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 30px;
  height: 3px;
  left: 370px;
  top: 50px;
  transform-origin: left;
  transform: rotate(-40deg);
}

.shooting {
  animation: shooting-star 2s 1 ease-in-out;
  animation-delay: 1s;
}


@keyframes shooting-star {
  100% {
    -webkit-transform: rotate(-40deg)translateX(-450px);
    transform: rotate(-40deg)translateX(-450px);
  }
}
